.btn {
    &,
    &__label {
        border-radius: var(--radius-btn);
        @extend %grid-center;
        place-content: center;
        grid-auto-flow: column;
    }

    grid-gap: 1.5rem;
    padding: 1.2rem;
    background: var(--clr_white_to_grd);
    color: currentColor;
    @extend %fw-700;
    @extend %cursor;
    box-shadow: var(--box_shadow_accent);

    &__label {
        --radius-btn: 1.4rem;
        grid-gap: 0.5rem;
        padding: 0.9rem 1.2rem;
        width: max-content;
        background: var(--clr_grd_bg);
        font-size: 1.2rem;

        &--outline {
            @extend .btn__label;
            background: hsl(var(--clr_accent_light));
            color: hsl(var(--clr_accent)) !important;
        }
    }
}
