.hooper {
    &-track {
        @extend %d--grid;
        grid-auto-flow: column;
        transition: transform 1s $outSmooth;
    }
}

.categories .hooper {
    min-height: 28rem;
    z-index: var(--z-hooper-cat);

    @include device(phone-land) {
        padding: 0 2rem;
    }

    &-track {
        @extend %d--grid;
        justify-content: flex-start;
        align-content: center;
        padding: 4rem 0;
    }
    &-slide {
        max-width: calc(6rem + var(--category-width));
    }
    &-pagination {
        bottom: -1rem !important;

        li {
            display: none;

            &:nth-child(-n + 3) {
                display: initial;
            }

            @include device(tab) {
                &:nth-child(-n + 4) {
                    display: initial;
                }
            }

            @include device(phone-land) {
                &:nth-child(-n + 5) {
                    display: initial;
                }
            }
            // @include device(phone) {
            //     &:nth-child(-n + 4) {
            //         display: initial;
            //     }
            //     &:nth-of-type(5) {
            //         display: none;
            //     }
            // }
            @include device(phone-to-ant) {
                &:nth-child(-n + 5) {
                    display: initial;
                }
            }
        }
    }
    &-indicator {
        background-color: hsl(var(--clr_white));
        width: 1.65rem;
        height: 0.65rem;
        margin: 0 3px;
        transition: background-color 0.5s;

        &.is-active,
        &:hover,
        &:focus {
            background-color: hsl(var(--clr_accent));
        }
    }

    // &-prev,
    // &-next {
    //     --btn-pos: -6%;
    //     --translateX: 20%;
    //     border-radius: var(--radius-icontainer);
    //     @extend %flex-center;
    //     backdrop-filter: blur(3px);
    //     background: hsl(var(--clr_accent) / 0.05);
    //     transition: transform 0.5s $outBack;
    //     z-index: var(--z-hooper-cat);

    //     svg {
    //         fill: hsl(var(--clr_accent));
    //         height: 3rem;
    //         width: auto;
    //     }

    //     @include device(tab) {
    //         --btn-pos: -7%;
    //     }
    //     @include device(tab-to-phoneland) {
    //         --btn-pos: -10%;
    //     }
    //     @include device(phone-land) {
    //         // display: none;
    //         --btn-pos: -4%;
    //         --translateX: 5%;
    //         background: transparent;
    //         backdrop-filter: none;
    //     }
    // }

    // &-prev {
    //     left: var(--btn-pos);
    //     &:hover,
    //     &:focus {
    //         transform: translate3d(#{-var(--translateX)}, -50%, 0);
    //     }
    // }
    // &-next {
    //     right: var(--btn-pos);
    //     &:hover,
    //     &:focus {
    //         transform: translate3d(var(--translateX), -50%, 0);
    //     }
    // }
}

// ? ===================== INGREDIENTS HOOPER
.ingredients .hooper {
    height: max-content;
    max-height: 24rem;
    margin-bottom: 2rem;

    &-list {
        @include device(phone-land) {
            display: grid;
        }
    }

    &-track {
        @extend %d--grid;
        justify-content: flex-start;
        grid-gap: 3rem;
        height: auto;
        padding-top: 3rem;
        margin-bottom: 5rem;
    }
    &-slide {
        min-width: 16rem;
        max-width: 18rem;

        @include device(phone-land) {
            max-width: max-content;
        }
    }
    &-pagination,
    &-indicators {
        @extend %flex-center;
        padding: 0;
    }
    &-indicator {
        background: hsl(var(--clr_white));
        transition: background 0.3s, opacity 0.3s;

        &:hover,
        &:focus {
            background: hsl(var(--clr_black));
            opacity: 0.4;
        }
        &.is-active {
            background: hsl(var(--clr_black));
        }
    }

    &-prev,
    &-next {
        --btn_pos: -12%;
        top: 60%;
        opacity: 0.4;
        transform: translateY(-50%);
        transition: opacity 0.5s;
        z-index: 22;

        svg {
            fill: hsl(var(--clr_white));
            height: 3rem;
            width: auto;
            transition: transform 0.5s $outBack;
        }

        @include device(phone-land) {
            width: 1rem;
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-prev {
        left: var(--btn_pos);
        &:hover,
        &:focus {
            @extend %opacity-1;
            svg {
                transform: translate3d(-20%, 0, 0);
            }
        }
    }
    &-next {
        right: var(--btn_pos);
        &:hover,
        &:focus {
            @extend %opacity-1;
            svg {
                transform: translate3d(20%, 0, 0);
            }
        }
    }
}

body.dark {
    .hooper-indicator {
        background-color: hsl(var(--clr_white));

        &.is-active,
        &:hover,
        &:focus {
            background-color: hsl(var(--clr_black));
        }
    }
}
