.hooper {
  &-track {
    display: grid;
    grid-auto-flow: column;
    transition: transform 1s $outSmooth;
  }
}

.categories .hooper {
  display: grid;
  min-height: 30rem;
  align-content: center;
  // transition: 1s;

  &-track {
    justify-content: flex-start;

    // justify-content: center;
    padding: 4rem 0;
    grid-gap: 5rem;
  }
  &-slide {
    max-width: 14rem;

    @include device(phone-land) {
      max-width: max-content;
    }
  }
  &-pagination {
    bottom: -1rem !important;
  }
  &-indicator {
    background: var(--clr_white);
    transition: background 0.3s;

    &.is-active,
    &:hover,
    &:focus {
      background: var(--clr_grd_bg);
    }
  }

  &-prev,
  &-next {
    opacity: 0.4;
    transition: opacity 0.5s;

    svg {
      fill: var(--clr_accent);
      height: 4rem;
      width: auto;
      transition: transform 0.5s $outBack;
    }
  }

  &-prev {
    left: -6%;
    &:hover,
    &:focus {
      opacity: 1;
      svg {
        transform: translate3d(-20%, 0, 0);
      }
    }
  }
  &-next {
    right: -6%;
    &:hover,
    &:focus {
      opacity: 1;
      svg {
        transform: translate3d(20%, 0, 0);
      }
    }
  }

  // @include device(tab-land) {
  //     min-height: 25vh;
  // }
}

// ? ===================== INGREDIENTS HOOPER
.ingredients .hooper {
  height: max-content;
  max-height: 24rem;
  margin-bottom: 2rem;

  @include device(tab-mid) {
    // margin-bottom: 5rem;
    // max-width: max-content;
    // margin-bottom: 5rem;
  }
  // margin-bottom: 3rem;
  @include device(phone-land) {
    // height: max-content;
    // margin-bottom: 4rem;
    // padding: 2rem 0;
  }

  &-list {
    @include device(phone-land) {
      display: grid;
    }
  }

  &-track {
    display: grid;
    // grid-auto-flow: column;
    justify-content: flex-start;
    grid-gap: 3rem;
    height: auto;
    padding-top: 3rem;
    margin-bottom: 5rem;
    // width: auto;
    // max-width: 40vw;

    @include device(tab-mid) {
      // margin-bottom: 10rem;
      // max-width: max-content;
      // margin-bottom: 5rem;
    }
    @include device(phone-land) {
      // max-width: max-content;
      // margin-bottom: 5rem;
    }
    // min-width: 10vw;
  }
  &-slide {
    min-width: 16rem;
    max-width: 18rem;

    @include device(tab-land) {
      // min-width: 15rem;
      // max-width: 17rem;
      // width: max-content;
    }
    @include device(phone-land) {
      max-width: max-content;
    }
  }
  &-pagination,
  &-indicators {
    @extend %flex-center;
    padding: 0;
    // bottom: 1rem !important;
  }
  // &-indicators {
  // }
  &-indicator {
    background: var(--clr_white);
    transition: background 0.3s, opacity 0.3s;

    &:hover,
    &:focus {
      background: var(--clr_black);
      opacity: 0.4;
    }
    &.is-active {
      background: var(--clr_black);
    }
  }

  &-prev,
  &-next {
    --btn_pos: -12%;
    top: 60%;
    opacity: 0.4;
    transform: translateY(-50%);
    transition: opacity 0.5s;
    z-index: 22;

    svg {
      fill: var(--clr_white);
      height: 3rem;
      width: auto;
      transition: transform 0.5s $outBack;
    }

    @include device(phone-land) {
      width: 1rem;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      // --btn_pos: -20%;
      // top: 40%;
    }
  }

  &-prev {
    left: var(--btn_pos);
    &:hover,
    &:focus {
      opacity: 1;
      svg {
        transform: translate3d(-20%, 0, 0);
      }
    }
  }
  &-next {
    right: var(--btn_pos);
    &:hover,
    &:focus {
      opacity: 1;
      svg {
        transform: translate3d(20%, 0, 0);
      }
    }
  }
}
