.loader {
    will-change: background-image, transform;
    @extend %pos-fix;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    @extend %flex-center;
    background: var(--clr_grd_bg);
    transform-origin: center bottom;
    backface-visibility: hidden;
    z-index: 3000;

    &__content {
        @extend %pos-abs;
        @extend %flex-center;
        flex-direction: column;
    }

    &__logo {
        .logo__svg {
            width: 10vw !important;
            height: auto;
            fill: hsl(var(--clr_white));

            @include device(tab) {
                width: 20vw !important;
            }
        }
    }

    &__title {
        @extend .header__title;
        @extend %overflow-hidden;
        font-size: 4rem;
        color: hsl(var(--clr_white)) !important;
    }
    &__ify {
        @extend .header__ify;
    }
    &__yourmeal {
        @extend .header__yourmeal;
    }
}

.loader-enter-active,
.loader-leave-active {
    transition: transform 1.5s $outCirc;
}
.loader-enter-to {
    transform: translate3d(0, 0%, 0);
}
.loader-leave-to {
    transform: translate3d(0, 100%, 0);
}
