.logo {
    &__svg {
        width: 5rem !important;
    }
    &__veganify {
        color: hsl(var(--clr_white)) !important;
        font-size: 1.5rem;
        @extend %fw-600;
        @extend %txt-uppercase;
        @extend %flex-center;

        span {
            @extend %fw-300;
        }
    }
}
