.logo {
  &__svg {
    width: 5rem !important;
    transition: 0.3s;
  }
  &__veganify {
    color: var(--clr_white) !important;
    text-transform: uppercase;
    font-size: 1.5rem;
    @extend %fw-600;
    @extend %flex-center;
    transition: 0.3s;

    span {
      @extend %fw-300;
      transition: 0.3s;
    }
  }
}
