.pagination {
    padding-top: 10rem;
    padding-bottom: 3rem;

    @include device(phone-land) {
        padding-bottom: 18vh;
    }

    &__items {
        @extend %d--grid;
        grid-template-areas: 'prev pages next';
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 3rem;

        @include device(phone-land) {
            grid-template-columns: 1fr;
            grid-template-areas: 'pages' 'next' 'prev';
            grid-gap: 2rem;
        }
    }

    &__item {
        &--prev {
            grid-area: prev;
        }
        &--next {
            grid-area: next;
        }
        &--pages {
            grid-area: pages;

            @include device(phone-ant) {
                display: none;
            }

            ul {
                display: inline-flex;
                align-items: center;
                * + * {
                    margin-left: 2rem;
                }
            }

            li {
                width: fit-content;
            }
        }
        @include device(phone-land) {
            &--pages {
                margin-bottom: 1.5rem;
            }
            &--prev,
            &--next {
                width: 80vw;
            }
        }
    }

    &__btn {
        --size_btn: 5rem;
        min-width: var(--size_btn);
        min-height: var(--size_btn);
        margin: 0 auto;
        width: 100%;
        background: var(--clr_grd_bg);
        color: hsl(var(--clr_white));
        border: 1px solid hsl(var(--clr_accent) / 0.1);
        transform-origin: center center;
        transition: transform 0.5s $outBack;

        @include device(phone-land) {
            --size_btn: 6rem;
        }

        &:hover,
        &:focus {
            background: hsl(var(--clr_white));
            color: var(--clr_accent_to_dark);
        }

        &--prev,
        &--next {
            padding: 1.2rem 2.5rem;
        }

        &--prev {
            &:hover,
            &:focus {
                transform: translate(-5px, 0);

                @include device(phone-land) {
                    transform: none;
                }
            }
        }
        &--next {
            &:hover,
            &:focus {
                transform: translate(5px, 0);

                @include device(phone-land) {
                    transform: none;
                }
            }
        }

        @include device(phone-land) {
            &--prev,
            &--next {
                width: 100%;
                padding: 2rem;
                transition: none;
            }
        }

        &--active {
            @extend .pagination__btn, :hover;
        }
        &--disabled {
            opacity: 0.5;
            transform: none !important;
            transition: none;

            &:hover,
            &:focus {
                background: var(--clr_grd_bg);
                color: hsl(var(--clr_white));
            }
        }
    }
}
