.sidebarcards {
    display: grid;
    place-content: center;
    grid-gap: 5vh;

    @include device(tab-land) {
        grid-auto-flow: row;
        width: 50vw;
    }
}

.sidebarcard {
    --radius-sidebarcard: 4rem;
    @extend %overflow-hidden;
    width: 100%;
    border-radius: var(--radius-sidebarcard);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
    grid-gap: 1.8rem;
    transition: 0.8s;
    background: var(--clr_sidebarcard);
    @extend %cursor;

    &:hover {
        // @extend %pos-rel;

        // .sidebarcard__figure {
        //     width: 100%;
        //     height: 100%;
        //     @extend %pos-abs;
        //     top: 0;
        //     left: 0;
        //     z-index: 100;
        //     border-radius: 0;
        // }
    }

    &__left {
        --padding-left: 1.6vw;
        padding: var(--padding-left) 0 var(--padding-left) var(--padding-left);

        @include device(tab-land) {
            --padding-left: 5vw;
        }
    }

    &__title {
        color: var(--clr_txt_dark);
        font-size: 1.5rem;
        display: inline-block;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }

    &__btns {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1vw;
        svg {
            width: 1.5rem;
        }
    }

    &__figure {
        --radius-sidebarfigure: 50%;
        @extend %overflow-hidden;
        justify-self: flex-end;
        width: 12rem;
        // width: 100%;
        // height: 100%;
        border-radius: var(--radius-sidebarfigure) 0 0
            var(--radius-sidebarfigure);
        box-shadow: -2px 0px 15px -5px var(--clr_gradient_1);
        transition: 0.8s;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
