.sidebarcards {
    @extend %d--grid;
    justify-content: center;
    align-content: space-around;
    grid-gap: 1vmin;

    @include device(tab-land) {
        grid-auto-flow: row;
        width: 50vw;
    }
}

.sidebarcard {
    --radius-sidebarcard: 2.3vw;
    will-change: transform, box-shadow, background-color;
    @extend %cursor;
    @extend %overflow-hidden;
    @extend %pos-rel;
    width: 100%;
    min-height: 14rem;
    padding: 2.5vh 1.6vw;
    @extend %d--grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
    grid-gap: 1.8rem;
    background-color: var(--clr_sidebarcard_bg);
    border-radius: var(--radius-sidebarcard);
    transition: transform 0.5s $inOutBack, box-shadow 0.5s $outBack 0.2s,
        background-color 0.5s $outSmooth;

    &:hover,
    &:focus {
        transform: translateY(-3%);
        background-color: transparent;
        box-shadow: var(--box_shadow_sidebarcard);

        .sidebarcard__title {
            color: currentColor;
            @extend %fw-600;
        }
        .sidebarcard__figure {
            --radius-sidebarcard-figure: var(--radius-sidebarcard);
            width: 100% !important;
            height: 100% !important;
            right: 0;

            &::after {
                background-color: hsl(var(--clr_sidebarcard_after) / 0.75);
            }
        }
    }

    &__left {
        @extend %d--flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 3;
    }

    &__title {
        color: hsl(var(--clr_black));
        font-size: 1.5rem;
        text-transform: capitalize;
        @extend %d--inline-block;
        @extend %fw-500;
        margin-bottom: 1.5rem;
        transition: color 0.4s $outSmooth, font-weight 0.4s $outSmooth;
    }

    &__btns {
        @extend %d--grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1vw;
        @extend %fw-600;

        svg {
            width: 1.5rem;
        }
    }

    &__figure {
        will-change: width, height, right, border-radius;
        --size: 7vw;
        @extend %overflow-hidden;
        @extend %pos-abs;
        right: -5%;
        top: 50%;
        transform: translateY(-50%);
        width: var(--size);
        height: var(--size);
        border-radius: var(--radius-sidebarcard-figure);
        transition: 0.5s $outBack;
        z-index: 2;

        &::after {
            --gradient_deg: 90deg;
            @extend %pos-abs;
            @extend %after;
            top: 0;
            left: 0;
            background-color: hsl(var(--clr_sidebarcard_after) / 0.2);
            transition: background-color 0.4s;
        }
    }
    &__img {
        @extend %img-basic;
    }
}
