html {
    font-size: 62.5%;

    @include device(laptop) {
        font-size: 56.25%;
    }
    @include device(tab-land) {
        font-size: 56.25%;
    }
    @include device(phone) {
        font-size: 43.75%;
    }
    @include device(phone-ant) {
        font-size: 37.5%;
    }
    @include device(big) {
        font-size: 75%;
    }
}

body {
    font-family: var(--f-family);
    font-size: var(--f-size);
    line-height: var(--line-height);
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.4;
    color: hsl(var(--clr_black));
}
