.page {
    &-enter-active {
        @extend %will-change;
        backface-visibility: hidden;
        transition: transform 1s $outCirc, opacity 0.6s $outSmooth;
    }
    &-leave-active {
        @extend %will-change;
    }
    &-enter,
    &-leave-to {
        @extend %opacity-0;
        transform: translate3d(0, 100vh, 0);
    }
    &-enter-to,
    &-leave {
        @extend %opacity-1;
        @extend %transform-3d-0;
    }
}
.nav {
    &-enter-active {
        @extend %will-change;
        backface-visibility: hidden;
        transition: transform 1s $outCirc, opacity 0.6s $outSmooth;
        transition-delay: 0.2s;

        @include device(tab-to-phoneland) {
            transition-delay: 1.2s;
        }
    }
    &-enter {
        @extend %opacity-0;
        transform: translate3d(-100%, 0, 0);

        @include device(tab-to-phoneland) {
            transform: translate3d(-50%, 120%, 0);
        }
    }
    &-enter-to {
        @extend %opacity-1;
        @extend %transform-3d-0;

        @include device(tab-to-phoneland) {
            transform: translate3d(-50%, 0, 0);
        }
    }
}
.sidebar {
    &-enter-active {
        @extend %will-change;
        backface-visibility: hidden;
        transition: transform 1s $outCirc, opacity 0.6s $outSmooth;
        transition-delay: 0.2s;

        @include device(tab-land) {
            transition: none;
        }
    }
    &-enter {
        @extend %opacity-0;
        transform: translate3d(100%, 0, 0);

        @include device(tab-land) {
            opacity: 0;
            transform: none;
        }
    }
    &-enter-to {
        @extend %opacity-1;
        @extend %transform-3d-0;

        @include device(tab-land) {
            transform: none;
            opacity: 0;
        }
    }
}

.recipecards {
    &-enter-active,
    &-leave-active {
        @extend %will-change;
    }
    &-enter-active {
        transition: transform 0.6s $outSmooth, opacity 0.6s $outSmooth;
    }
    &-leave-active {
        transition: transform 0.5s $outSmooth, opacity 0.5s $outSmooth;
    }
    &-enter,
    &-leave-to {
        @extend %opacity-0;
        transform: translateY(10rem);
    }
    &-enter-to,
    &-leave {
        @extend %opacity-1;
        transform: translateY(0);
    }
}

.recipecard {
    &-enter-active {
        transition: transform 0.8s $outBack, opacity 0.8s ease;
    }
    &-enter,
    &-leave-to {
        opacity: 0;
        transform: scale(0.7) translate3d(0, 100%, 0);
    }
    &-enter-to {
        opacity: 1;
        transform: scale(1) translate3d(0, 0%, 0);
    }
    &-leave-active {
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
}

.fadeIn {
    &-enter-active,
    &-leave-active {
        transition: opacity 1s $outSmooth;
    }
    &-enter,
    &-leave-to {
        @extend %opacity-0;
    }
    &-enter-to,
    &-leave {
        @extend %opacity-1;
    }
}

.waiting {
    &-enter-active {
        @extend %will-change;
        transition: transform 0.5s $outCirc, opacity 0.5s $outCirc;
    }
    &-leave-active {
        @extend %will-change;
        transition: transform 0.8s $outCirc, opacity 0.8s $outCirc;
    }
    &-enter,
    &-leave-to {
        @extend %opacity-0;
        transform: translateY(-2rem);
    }
    &-enter-to,
    &-leave {
        @extend %opacity-1;
        transform: translateY(0);
    }
}

.notification {
    &-enter-active {
        transition: transform 0.4s $outQuart;
    }
    &-leave-active {
        transition: transform 0.35s $inExpo;
    }
    &-enter,
    &-leave-to {
        transform: translate3d(-100%, 0, 0);
    }
    &-enter-to,
    &-leave {
        @extend %transform-3d-0;
    }
    // &-enter-active,
    // &-leave-active {
    //     transition: transform 0.4s $outQuart, opacity 0.4s $outQuart;
    // }

    // &-enter,
    // &-leave-to {
    //     transform: translate3d(0, -100%, 0);
    //     opacity: 0;
    // }
    // &-enter-to,
    // &-leave {
    //     opacity: 1;
    //     @extend %transform-3d-0;
    // }
}

.slideFromLeft {
    &-enter-active {
        will-change: transform;
        transition: transform 1.3s $outCirc !important;
        backface-visibility: hidden;
    }
    &-enter {
        transform: translate3d(-100%, 0, 0);
    }
    &-enter-to {
        @extend %transform-3d-0;
    }
}

.slideRotateFromRight {
    &-enter-active {
        will-change: transform;
        transition: transform 1.3s $outCirc !important;
        backface-visibility: hidden;
    }
    &-enter {
        transform: translate3d(100%, 0, 0) rotate(180deg);
    }
    &-enter-to {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

//? Active Component - RecipeitemSteps or RecipeitemIngredients
.recipesteps-enter,
.ingredients-leave-tor {
    transform: translate3d(5rem, 0, 0);
}
.recipesteps-leave-to,
.ingredients-enter {
    transform: translate3d(-5rem, 0, 0);
}

//! activeComponent - shared:
.recipesteps-enter-active,
.ingredients-enter-active {
    transition: transform 0.4s $outSmooth, opacity 0.4s $outSmooth;
}
.recipesteps-enter-to,
.ingredients-enter-to {
    @extend %opacity-1;
    @extend %transform-3d-0;
}
.recipesteps-leave-active,
.ingredients-leave-active {
    transition: transform 0.25s $outSmooth, transform 0.25s $outSmooth;
}
.recipesteps-enter,
.recipesteps-leave-to,
.ingredients-enter,
.ingredients-leave-to {
    @extend %opacity-0;
}
