.page-enter-active {
    @extend %will-change;
    backface-visibility: hidden;
    transition: transform 1s $outCirc, opacity 0.6s $outSmooth;
}
.page-leave-active {
    @extend %will-change;
}
.page-enter,
.page-leave-to {
    @extend %opacity-0;
    transform: translate3d(0, 100%, 0);
}
.page-enter-to,
.page-leave {
    @extend %opacity-1;
    @extend %transform-3d-0;
}

.recipecards-enter-active,
.recipecards-leave-active {
    @extend %will-change;
}
.recipecards-enter-active {
    transition: transform 0.8s $outSmooth, opacity 0.8s $outSmooth;
}
.recipecards-leave-active {
    transition: transform 0.5s $outSmooth, opacity 0.5s $outSmooth;
}
.recipecards-enter,
.recipecards-leave-to {
    @extend %opacity-0;
    transform: translateY(100%);
}
.recipecards-enter-to,
.recipecards-leave {
    @extend %opacity-1;
    transform: translateY(0);
}

.fadeIn-enter-active,
.fadeIn-leave-active {
    transition: opacity 1s $outSmooth;
}
.fadeIn-enter,
.fadeIn-leave-to {
    @extend %opacity-0;
}
.fadeIn-enter-to,
.fadeIn-leave {
    @extend %opacity-1;
}

.waiting-enter-active {
    @extend %will-change;
    transition: transform 0.5s $outCirc, opacity 0.5s $outCirc;
}
.waiting-leave-active {
    @extend %will-change;
    transition: transform 0.8s $outCirc, opacity 0.8s $outCirc;
}
.waiting-enter,
.waiting-leave-to {
    @extend %opacity-0;
    transform: translateY(-2rem);
}
.waiting-enter-to,
.waiting-leave {
    @extend %opacity-1;
    transform: translateY(0);
}

.notification-enter-active {
    transition: transform 0.5s $outQuart;
}
.notification-leave-active {
    transition: transform 0.5s $inExpo;
}
.notification-enter,
.notification-leave-to {
    transform: translate3d(-100%, 0, 0);
}
.notification-enter-to,
.notification-leave {
    @extend %transform-3d-0;
}

.slideFromLeft-enter-active {
    will-change: transform;
    transition: transform 1.3s $outCirc !important;
    backface-visibility: hidden;
}
.slideFromLeft-enter {
    transform: translate3d(-100%, 0, 0);
}
.slideFromLeft-enter-to {
    @extend %transform-3d-0;
}

.slideRotateFromRight-enter-active {
    will-change: transform;
    transition: transform 1.3s $outCirc !important;
    backface-visibility: hidden;
}
.slideRotateFromRight-enter {
    transform: translate3d(100%, 0, 0) rotate(180deg);
}
.slideRotateFromRight-enter-to {
    transform: translate3d(0, 0, 0) rotate(0deg);
}

//? Active Component - RecipeitemSteps or RecipeitemIngredients
.recipesteps-enter,
.ingredients-leave-tor {
    transform: translate3d(5rem, 0, 0);
}
.recipesteps-leave-to,
.ingredients-enter {
    transform: translate3d(-5rem, 0, 0);
}

//! activeComponent - shared:
.recipesteps-enter-active,
.ingredients-enter-active {
    transition: transform 0.4s $outSmooth, opacity 0.4s $outSmooth;
}
.recipesteps-enter-to,
.ingredients-enter-to {
    @extend %opacity-1;
    @extend %transform-3d-0;
}
.recipesteps-leave-active,
.ingredients-leave-active {
    transition: transform 0.25s $outSmooth, transform 0.25s $outSmooth;
}
.recipesteps-enter,
.recipesteps-leave-to,
.ingredients-enter,
.ingredients-leave-to {
    @extend %opacity-0;
}
