%pos-fix {
    position: fixed;
}
%pos-stck {
    position: -webkit-sticky;
    position: sticky;
}
%pos-abs {
    position: absolute;
}
%pos-rel {
    position: relative;
}

%d--block {
    display: block;
}
%d--inline-block {
    display: inline-block;
}
%d--grid {
    display: grid;
}
%d--flex {
    display: flex;
}

%grid-center {
    @extend %d--grid;
    place-items: center;
    justify-content: center;
}

%flex-center {
    @extend %d--flex;
    align-items: center;
    justify-content: center;
}

%flex-jsb {
    @extend %d--flex;
    align-items: center;
    justify-content: space-between;
}
%flex-jsa {
    @extend %d--flex;
    align-items: center;
    justify-content: space-around;
}

%w-100 {
    width: 100%;
}
%h-100 {
    height: 100%;
}
%h-auto {
    height: auto;
}

%after {
    content: '';
    @extend %pos-abs;
    @extend %w-100;
    @extend %h-100;
}

%abs-center {
    @extend %pos-abs;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%overflow-hidden {
    overflow: hidden;
}

%objfit-cover {
    object-fit: cover;
}
%img-basic {
    @extend %objfit-cover;
    @extend %w-100;
    @extend %h-100;
}

%cursor {
    cursor: pointer;
}

%txt-center {
    text-align: center;
}
%txt-uppercase {
    text-transform: uppercase;
}

%opacity-0 {
    opacity: 0;
}
%opacity-1 {
    opacity: 1;
}

%fw-700 {
    font-weight: 700;
}
%fw-600 {
    font-weight: 600;
}
%fw-500 {
    font-weight: 500;
}
%fw-400 {
    font-weight: 400;
}
%fw-300 {
    font-weight: 300;
}

%z-minus {
    z-index: -1;
}

%box-shadow {
    box-shadow: 0 12px 23px 0 rgb(62 73 84 / 4%);
}

%theme-hidden-props {
    pointer-events: none;
    z-index: -1;
}
%theme-showed-props {
    pointer-events: all;
    transform: scale(1) rotate(0deg);
    z-index: 2;
}

%nav-sidebar-shared {
    height: var(--nav-sidebar-height);
    background: var(--clr_grd_bg);
    color: hsl(var(--clr_white));
    @extend %box-shadow;
    @extend %pos-stck;
    top: 0;
    left: 0;
    border-radius: var(--radius-nav-sidebar);
}
%will-change {
    will-change: transform, opacity;
}
%transform-3d-0 {
    transform: translate3d(0, 0%, 0);
}
