.ingredients {
    &__cards {
        @include device(phone) {
            display: none;
        }
    }

    &__card {
        padding: 1.5rem 2rem;
        background: var(--clr_white_to_grd);
        box-shadow: var(--box_shadow_accent);
        border-radius: var(--radius-ingredients-card);
        line-height: 1.2;

        &--imgwrapper {
            --size: 4.5rem;
            width: var(--size);
            height: var(--size);
            @extend %flex-center;
            border-radius: var(--radius-icontainer);
            background: hsl(var(--clr_accent_light));
            margin-bottom: 1rem;

            img {
                --size: 3.5rem;
                mix-blend-mode: multiply;
                object-fit: contain;
                width: var(--size);
                height: var(--size);
            }
        }
        &--iconwrapper {
            display: none;
            margin-bottom: 1rem;

            svg {
                --svg_size: 3.5rem;
                transform: translateY(12%);
            }
        }

        p {
            margin-left: 0.5rem;
        }

        &--name {
            @extend %txt-uppercase;
            font-size: 1.1rem;
            @extend %fw-600;
            color: hsl(var(--clr_accent));
            margin-bottom: 1.2rem;
        }
        &--unitamount {
            font-size: 1.5rem;
            opacity: 0.9;
            word-wrap: break-word;

            span {
                @extend %fw-600;
                @extend %opacity-1;
                font-size: 1.65rem;
            }
        }
    }

    &__items {
        padding: 3rem 1rem;
        line-height: 1.1;
        @extend %d--grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.2rem 3rem;

        @include device(phone-land) {
            display: flex;
            font-size: 1.8rem;
            flex-direction: column;
        }
        @include device(phone) {
            font-size: 2rem;
        }
    }

    &__item {
        @extend %grid-center;
        justify-content: flex-start;
        grid-auto-flow: column;
        grid-gap: 1.2rem;
        text-transform: lowercase;

        @include device(phone-land) {
            margin-bottom: 1.2rem;
        }

        &--amount {
            --amount-bg-size: 3.5rem;
            width: var(--amount-bg-size);
            height: var(--amount-bg-size);
            @extend %flex-center;
            background: hsl(var(--clr_white));
            color: var(--clr_accent_to_dark);
            border-radius: var(--radius-default);
            @extend %fw-600;

            @include device(phone-land) {
                --amount-bg-size: 5rem;
                --radius-default: 15px;
                font-size: 1.8rem;
            }
            @include device(phone) {
                font-size: 2rem;
                --radius-default: 10px;
            }
        }
        &--name {
            @extend %pos-rel;
            z-index: 10 !important;
            width: max-content;
            @extend %fw-600;
        }
    }
}

html [data-theme='dark'] {
    .ingredients__card--imgwrapper {
        display: none;
    }
    .ingredients__card--iconwrapper {
        @extend %grid-center;
    }
}
