.showcase {
    @extend %d--grid;
    width: max-content;
    @extend %pos-rel; //* imperative for the overlapping to work

    @include device(phone) {
        margin-top: 6rem;
    }

    &:hover,
    &:focus {
        .showcase__trivia {
            @extend %opacity-1;
            transform: scale(1);
            box-shadow: var(--box_shadow_alpha);

            p {
                @extend %opacity-1;
                transform: translateY(0);
            }
            &::after {
                @extend %opacity-1;
                transform: scaleY(1) rotate(0deg);
            }
            &::before {
                opacity: 0.2;
                transform: scale(1) rotate(30deg);
            }
        }
        .showcase__nutrition {
            transform: translateX(120%);
        }
    }

    &__figure {
        --img_size: 28vw;
        width: var(--img_size);
        height: var(--img_size);
        border-radius: var(--radius-sidebarcard-showcase-img);
        @extend %overflow-hidden;

        @include device(tab-mid) {
            --img_size: 38vw;
        }
        @include device(tab) {
            --img_size: 45rem;
        }
        @include device(phone-land) {
            --img_size: 73vw;
        }
        img {
            @extend %img-basic;
        }
    }
    &__nutritions {
        padding: 2rem;
        justify-self: flex-end;
        @extend %d--grid;
        grid-gap: 2.5vh;
        @extend %pos-abs;
        top: 45%;
        @extend %overflow-hidden;
        transform: translate(32%, -50%);

        @include device(tab-land) {
            grid-gap: 1.5vh;
        }
        @include device(phone-land) {
            grid-gap: 2vh;
            transform: translate(20%, -50%);
        }
        @include device(phone-ant) {
            grid-gap: 1.5rem;
        }
    }

    &__nutrition {
        --amount_size: 5.5rem;
        min-width: 20rem;
        width: 13vw;
        padding: 1.1rem;
        border-radius: var(--radius-recipeitem-breadcrumb);
        @extend %grid-center;
        grid-auto-flow: column;
        justify-content: start;
        grid-gap: 1.4vmin;
        font-size: 1.4rem;
        @extend %fw-600;
        letter-spacing: 0.5px;
        background: var(--clr_white_to_grd);
        color: hsl(var(--clr_accent));
        transform-origin: right center;
        box-shadow: var(--box_shadow_alpha);
        transition: transform 1s $inOutBack;

        @include device(tab-land) {
            padding: 0.8rem;
        }
        @include device(tab-mid) {
            width: 20vw;
            padding: 1rem;
        }
        @include device(tab) {
            --amount_size: 6rem;
            width: 23rem;
            padding: 1.2rem;
        }
        @include device(phone-land) {
            width: 21rem;
            padding: 0.9rem;
        }
        @include device(phone) {
            width: 22rem;
            padding: 1rem;
            font-size: 1.6rem;
        }
        @include device(phone-ant) {
            width: 18rem;
            padding: 0.8rem;
        }

        &:nth-of-type(1) {
            transition-delay: 0.1s;
        }
        &:nth-of-type(2) {
            transition-delay: 0.15s;
        }
        &:nth-of-type(3) {
            transition-delay: 0.2s;
        }
        &:nth-of-type(4) {
            transition-delay: 0.25s;
        }

        &-amount {
            @extend %flex-center;
            width: var(--amount_size);
            height: var(--amount_size);
            background: hsl(var(--clr_accent) / 0.2);
            border-radius: var(--radius-circle);
            @extend %fw-700;
        }
        &-name {
            @extend %d--grid;
            line-height: 1.4;
        }
        &-unit {
            font-size: 0.9rem;
            @extend %fw-700;
            @extend %txt-uppercase;
            color: hsl(var(--clr_black));
            opacity: 0.9;

            @include device(phone) {
                font-size: 1.3rem;
            }
        }
    }

    &__trivia {
        --delay: 0.5s;
        will-change: transform, opacity, box-shadow;
        background: hsl(var(--clr_white));
        border-radius: var(--radius-sidebarcard-showcase-img);
        @extend %pos-abs;
        @extend %w-100;
        @extend %h-100;
        @extend %grid-center;
        @extend %txt-center;
        @extend %fw-500;
        @extend %opacity-0;
        transform: scale(0);
        transform-origin: center center;
        transition: transform 0.8s $outBack var(--delay),
            opacity 0.5s $outSmooth var(--delay),
            box-shadow 0.8s $outBack calc(var(--delay) + 0.3s);
        z-index: 100;

        p {
            @extend %will-change;
            @extend %flex-center;
            font-size: 1.7rem;
            padding: 4rem;
            border-radius: var(--radius-sidebarcard-showcase-img);
            @extend %opacity-0;
            transform: translateY(2rem);
            transition: transform 0.5s $outSmooth, opacity 0.5s $outSmooth;
            transition-delay: calc(var(--delay) + 0.3s);

            @include device(tab-mid) {
                font-size: 1.8rem;
            }
            @include device(phone) {
                font-size: 2rem;
            }
        }

        &::after {
            @extend %will-change;
            @extend %pos-abs;
            content: '\201F';
            color: hsl(var(--clr_accent_light));
            text-shadow: 1px 5px 0px hsl(var(--clr_accent));
            font-size: 25vw;
            @extend %fw-600;
            @extend %opacity-0;
            line-height: 0;
            top: 25%;
            left: -10%;
            transform: scaleY(0) rotate(90deg);
            transition: transform 0.8s $outBack, opacity 0.3s linear;
            transition-delay: calc(var(--delay) + 0.3s);

            z-index: -1;

            @include device(tab-land) {
                font-size: 30rem;
            }
            @include device(tab-mid) {
                font-size: 40rem;
            }
            @include device(tab) {
                font-size: 38rem;
                top: 25%;
                left: -8%;
            }
        }
        &::before {
            @extend %will-change;
            @extend %pos-abs;
            content: '💡';
            text-shadow: 1px 5px 0px hsl(var(--clr_accent));
            font-size: 30rem;
            @extend %fw-600;
            line-height: 0;
            top: 58%;
            right: 0%;
            @extend %opacity-0;
            transform: scale(0) rotate(0deg);
            transition: transform 0.8s $outBack, opacity 0.3s linear;
            transition-delay: calc(var(--delay) + 0.3s);
            z-index: -1;

            @include device(tab-land) {
                font-size: 25rem;
            }
            @include device(tab-mid) {
                font-size: 30rem;
            }
        }
    }
}

html [data-theme='dark'] {
    .showcase__trivia {
        p {
            color: hsl(var(--clr_bg));
        }
    }
}
