.tags {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    grid-gap: 1vw;

    .tag {
        line-height: 1.3;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 1rem;
        padding: 2.5rem;
        background: var(--clr_txt_light);
        border-radius: 1.5vw;

        &__icon-wrapper {
            --size: 4.2rem;
            width: var(--size);
            height: var(--size);
            border-radius: 0.8vw;
            background: var(--clr_accent_alpha_2);
            display: grid;
            place-items: center;
        }
        &__svg {
            width: 2.3rem;
            height: auto;
            fill: var(--clr_accent);
            // stroke: currentColor;
        }
        &__name {
            font-weight: 600;
            font-size: 1.2rem;
            color: var(--clr_accent);
            text-transform: uppercase;
        }
        &__amount {
            font-size: 1.9rem;
            font-weight: 600;
            span {
                font-weight: normal;
                font-size: 1.6rem;
            }
        }
    }
}
