.tags {
    @extend %d--grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    @include device(phone) {
        grid-gap: 5vmin;
        width: 100%;
    }

    .tag {
        @extend %w-100;
        padding: 2vmin;
        line-height: 1;
        @extend %fw-600;
        background: var(--clr_white_to_grd);
        box-shadow: var(--box_shadow_accent);
        border-radius: var(--radius-ingredients-card);
        @extend %d--grid;
        grid-auto-flow: column;
        grid-gap: 1.8vmin;
        align-items: center;
        justify-content: flex-start;

        @include device(tab) {
            grid-gap: 2vmin;
            padding: 3vw;
        }

        @include device(phone-land) {
            grid-gap: 2vmin;
            padding: 3vmin;
        }
        @include device(phone) {
            --radius-ingredients-card: 12px;
            grid-auto-flow: row;
        }

        .icontainer--bggreen {
            svg {
                --svg_size: 2rem;
            }

            @include device(phone) {
                --icontainer_size: 3.8rem;

                svg {
                    --svg_size: 1.8rem;
                }
            }
        }

        &__nameAmountWrapper {
            flex: 1 1;
            margin-left: 2px;
        }
        &__name {
            @extend %w-100;
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            @extend %txt-uppercase;
            color: hsl(var(--clr_accent));
        }
        &__amount {
            font-size: 1.7rem;
            span {
                @extend %fw-400;
                font-size: 1.5rem;
            }
        }
    }
}
