.categories {
    @extend %txt-center;
    @extend %d--grid;
    grid-gap: 5rem;
    color: hsl(var(--clr_white));

    @include device(tab) {
        grid-gap: 1rem;
    }

    &__title {
        @extend %fw-600;
        @extend %overflow-hidden;
        color: var(--clr_black_to_accent);

        span:nth-of-type(2) {
            @extend %fw-300;
        }
    }

    &__category {
        min-width: max-content;
        background: var(--clr_grd_bg);
        color: currentColor;
        @extend %w-100;
        height: 16rem;
        padding: 2.2rem 4rem;
        @extend %d--grid;
        place-items: center;
        grid-gap: 1rem;
        @extend %pos-rel;
        @extend %cursor;
        @extend %box-shadow;
        border-radius: var(--radius-category);

        &--active,
        &:hover,
        &:focus,
        &:active {
            .categories__icon {
                transform: translateY(-110%) rotate(90deg) scale(1.3);
                border-color: hsl(var(--clr_bg)) !important;
                svg {
                    transform: rotate(-90deg);
                }
            }
            .categories__name {
                transform: translateY(-190%);
            }
            .categories__counter {
                transform: translateY(-10%) scale(1);
                @extend %opacity-1;
            }
        }
    }

    .icontainer--bgwhite {
        --icontainer_size: 5.2rem;
        --radius-icontainer: 1.6rem;
        border: 5px solid transparent;
        transition: transform 0.5s $outSmooth, border-color 0.5s $outSmooth;
        svg {
            transition: transform 0.25s $outSmooth;
        }
    }

    &__name {
        font-size: 1.6rem;
        @extend %fw-500;
        letter-spacing: 1px;
        transition: transform 0.5s $outSmooth;
    }

    &__counter {
        @extend %pos-abs;
        bottom: 10px;
        width: 70%;
        padding: 1rem;
        background: hsl(var(--clr_white));
        color: var(--clr_accent_to_dark);
        font-size: 1.8rem;
        @extend %fw-700;
        letter-spacing: 2px;
        border-radius: var(--radius-btn);
        @extend %opacity-0;
        pointer-events: none;
        transform: translateY(20%) scale(0);
        transform-origin: center bottom;
        transition: 0.5s transform $outSmooth, 0.5s opacity $outSmooth;
    }
}
