.categories {
    @extend %txt-center;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 2rem;

    color: hsl(var(--clr_white));

    @include device(tab) {
        grid-gap: 1rem;
    }
    @include device(phone) {
        padding: 2rem 0;
    }

    // &__hooper-wrapper {
    //     overflow: hidden;
    //     width: 100%;
    //     display: block;
    //     margin: 0 auto;
    // }

    &__title {
        @extend %fw-600;
        // @extend %overflow-hidden;
        // padding-top: 2rem;
        color: var(--clr_black_to_accent);
        margin-bottom: 4rem;

        span:nth-of-type(2) {
            @extend %fw-300;
        }

        @include device(tab) {
            margin-bottom: 2rem;
        }
    }

    &__category {
        // min-width: max-content;
        // width: 100vw;
        // max-width: 16rem;
        width: var(--category-width);
        height: var(--category-height);
        background: var(--clr_grd_bg);
        color: currentColor;
        @extend %w-100;
        padding: 2.2rem 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @extend %pos-rel;
        @extend %cursor;
        @extend %box-shadow;
        border-radius: var(--radius-category);
        margin-right: 2rem;

        * + * {
            margin-top: 1.5rem;
        }

        &--active,
        &:hover,
        &:focus,
        &:active {
            .categories__icon {
                transform: translateY(-110%) rotate(90deg) scale(1.3);
                border-color: hsl(var(--clr_bg)) !important;
                svg {
                    transform: rotate(-90deg);
                }
            }
            .categories__name {
                transform: translateY(-190%);
            }
            .categories__counter {
                transform: translateY(-10%) scale(1);
                @extend %opacity-1;
            }
        }
    }

    .icontainer--bgwhite {
        --icontainer_size: 5.2rem;
        --radius-icontainer: 1.6rem;
        --border-weight: 0.6rem;
        border: var(--border-weight) solid transparent;
        transition: transform 0.5s $outSmooth, border-color 0.5s $outSmooth;
        svg {
            transition: transform 0.25s $outSmooth;
        }

        @include device(phone) {
            --icontainer_size: 6rem;
            --radius-icontainer: 1.8rem;
        }
    }

    &__name {
        font-size: 1.6rem;
        @extend %fw-500;
        letter-spacing: 1px;
        transition: transform 0.5s $outSmooth;
    }

    &__counter {
        @extend %pos-abs;
        bottom: 10px;
        width: 70%;
        padding: 1rem;
        background: hsl(var(--clr_white));
        color: var(--clr_accent_to_dark);
        font-size: 1.8rem;
        @extend %fw-700;
        letter-spacing: 2px;
        border-radius: var(--radius-btn);
        @extend %opacity-0;
        pointer-events: none;
        transform: translateY(20%) scale(0);
        transform-origin: center bottom;
        transition: 0.5s transform $outSmooth, 0.5s opacity $outSmooth;
    }
}
