.header {
    --svg-left: 3.5rem;
    --search-padding-left: calc(var(--svg-left) + 5rem);
    @extend %flex-center;
    flex-wrap: wrap-reverse;
    color: hsl(var(--clr_accent));
    // align-self: flex-start;

    // margin-bottom: 5vw;

    @include device(phone) {
        padding: 0 3rem;
    }

    &__form,
    &__title {
        margin: 3vw 2vw;

        @include device(tab) {
            margin: 6vw 2vw;
        }
    }

    &__form {
        flex: 1;
        min-width: 40rem;
        max-width: 60rem;

        @extend %d--flex;
        align-items: center;
        @extend %pos-rel;
        z-index: 20;

        svg {
            @extend %pos-abs;
            left: var(--svg-left);
            opacity: var(--opacity_search);
            width: 3rem;
            @extend %h-auto;
            fill: currentColor;
            transition: transform 0.4s $outSmooth, opacity 0.3s $outSmooth;
        }

        @include device(tab) {
            min-width: 40vw;
            max-width: 85%;
        }
        @include device(phone) {
            max-width: 95%;
        }
        @include device(phone) {
            max-width: 95%;
        }
    }

    &__search {
        padding: 2.5rem 2.5rem 2.5rem var(--search-padding-left);
        border-radius: var(--radius-search);
        @extend %d--flex;
        align-items: center;
        background: var(--clr_white_to_grd);
        color: hsl(var(--clr_black));
        font-size: inherit;
        @extend %box-shadow;
        transform-origin: center bottom;
        transition: color 0.4s $outSmooth, box-shadow 0.4s $outBack,
            opacity 0.4s $outSmooth;
    }

    &__search::placeholder {
        opacity: 0.4;
        color: currentColor;
    }
    &__search:focus {
        color: currentColor;
        @extend %opacity-1;
        box-shadow: 0 20px 0px -16px hsl(var(--clr_accent) / 0.05);

        & + svg {
            transform: rotate(90deg);
            opacity: 0.8;
        }
    }

    &__title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @extend %txt-center;
        color: currentColor;
        @extend %fw-600;
        font-size: 3.8rem;
        letter-spacing: 1px;

        span {
            @extend %d--inline-block;
        }

        @include device(tab) {
            font-size: 5rem;
        }

        @include device(phone) {
            font-size: 4.5rem;
        }
    }

    &__ify {
        @extend %fw-400;
        opacity: 0.6;
    }
    &__yourmeal {
        color: hsl(var(--clr_black));
        @extend %fw-300;
    }
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}
