.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &__form {
        width: 50%;
        margin-right: 2vw;
        display: flex;
        align-items: center;
        position: relative;

        svg {
            position: absolute;
            left: 30px;
            opacity: 0.35;
            fill: var(--clr_txt_black);
        }

        @include device(tab) {
            width: 90%;
            margin-bottom: 8rem;
        }
    }

    &__search {
        padding: 2.5rem 2.5rem 2.5rem 8rem;
        font-family: $font-family;
        border-radius: 30px;
        display: flex;
        align-items: center;
        background: var(--clr_bg_card);
        color: currentColor;
        font-size: inherit;
        // @extend %pos-rel;
        // box-shadow: rgba(0, 0, 0, 0.05) -4px 9px 25px -6px;
        @extend %box-shadow;

        // &::before {
        //     content: "lupa";
        //     @extend %pos-abs;
        //     height: 100%;
        //     width: 10rem;
        //     top: 0;
        //     left: 2px;
        //     color: red;
        //     z-index: 1;
        // }

        @include device(tab) {
            padding: 2.5rem 2.5rem 2.5rem 11rem;
        }
    }

    // &__search::-webkit-input-placeholder,
    // &__search::-moz-placeholder,
    // &__search::-ms-input-placeholder
    &__search::placeholder {
        font-family: $font-family;
        opacity: 0.4;
        // font-size: 1.6rem;
        color: var(--clr_txt_black);
        // padding-left: 50px;
    }

    &__title {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        color: var(--clr_accent);
        font-weight: 600;
        font-size: 3.5rem;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

        @include device(tab) {
            font-size: 5rem;
        }
    }

    &__ify {
        font-weight: 400;
        opacity: 0.6;
    }
    &__yourmeal {
        color: var(--clr_txt_dark);
        font-weight: 300;
    }
}
