.maincards {
    @extend %text-center;
    padding-bottom: 30vh;

    &__title {
        @extend .categories__title;
        color: var(--clr_accent);
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
        grid-gap: 30rem 3vw;
        justify-content: center;
        place-items: center;

        @include device(tab-land) {
            grid-gap: 30rem 5.8vw;
        }
        @include device(phone) {
            grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
            grid-gap: 25rem 5vw;
        }
    }
}

.maincard {
    --radius-card: 7rem;
    @extend %pos-rel;
    @extend %box-shadow;
    @extend %cursor;
    // width: 30rem;
    max-width: 33rem;

    &:hover {
        .maincard__main {
            top: 0;
            height: 100%;
            transform: scale(1.1);
        }
        .maincard__main::before {
            opacity: 1;
            transform: scale(1);
        }
        .maincard__icons {
            transform: translateY(20%) scale(0.9);

            p {
                transform: scale(1.1);
                opacity: 1;
                font-weight: 600;
            }
        }
        .maincard__title {
            // white-space: nowrap;
            // text-overflow: ellipsis;
        }
        .maincard__figure {
            transform: scale(0);
            opacity: 0;
        }
    }

    &__figure {
        border-radius: var(--radius-card);
        @extend %overflow-hidden;
        @extend %pos-rel;
        width: 100%;
        z-index: 10;
        height: 25rem;
        box-shadow: inset 0px -15px 16px 2px rgba(0, 0, 0, 1);
        transition: 0.5s;
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        // height: 28vmin;
        border-radius: var(--radius-card);
    }
    &__figcaption {
        @extend %pos-abs;
        top: 15%;
        right: 8%;
        z-index: 10;
        padding: 0.8rem 1rem;
        border-radius: 12px;
        font-size: 1.2rem;
        background: var(--clr_accent_gradient);
        color: var(--clr_txt_light);
        font-weight: 500;
    }

    &__main {
        @extend %pos-abs;
        top: 55%;
        left: 0;
        // background: rgba(white, 1);
        z-index: 100;
        padding: 4.8rem 3rem;
        border-radius: var(--radius-card);
        width: 100%;
        transition: 0.5s;
        // transition-delay: 0.3s height;

        &::after {
            @extend %after;
            top: 0;
            left: 0;
            background: var(--clr_bg_card);
            z-index: -1;
            border-radius: var(--radius-card);
            -moz-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);

            @-moz-document url-prefix() {
                background: var(--clr_bg_card_firefox);
            }
        }
        &::before {
            @extend %after;
            top: 0;
            left: 0;
            z-index: 1;
            border-radius: var(--radius-card);
            box-shadow: 0px 10px 100px -5px var(--clr_accent_alpha);
            opacity: 0;
            transform: scale(1.3);
            transition: 0.5s;
            transition-delay: 0.1s;
            pointer-events: none;
        }
    }
    &__title {
        word-break: break-all;
        font-size: 1.75rem;
        margin-bottom: 4rem;
        color: var(--clr_txt_black);
        @extend %overflow-hidden;
    }

    &__icons {
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        color: var(--clr_accent);
        transition: 0.5s;
        transition-delay: 0.2s;
    }
    &__icon {
        svg {
            width: 2.1rem;
            height: auto;
        }
        p {
            font-weight: 500;
            font-size: 1.3rem;
            opacity: 0.8;
            transition: 0.5s;
        }
    }

    @include device(phone-land) {
        transform: scale(0.9);
    }
    @include device(phone) {
        transform: scale(1);
    }
}
