.middle {
    grid-area: mid;

    padding: 0 var(--padding-middle);
    @extend %w-100;

    @include device(tab-to-phoneland) {
        --padding-middle: 0;

        // padding-bottom: calc(2 * var(--nav-x-height));

        // background-color: orangered;
    }

    .scroll-to {
        padding-top: 8rem;
        @extend %w-100;

        @include device(laptop) {
            padding-top: 5rem;
        }
    }
}
