.middle {
    grid-area: mid;

    padding: 0 var(--padding-middle);
    @extend %w-100;
    // overflow: visible;

    @include device(tab-to-phoneland) {
        --padding-middle: 0;
    }

    .scroll-to {
        padding-top: 8rem;
        @extend %w-100;

        @include device(laptop) {
            padding-top: 5rem;
        }
    }
}
