.middle {
    grid-area: mid;

    padding: 0 var(--padding-middle);
    display: grid;
    align-content: flex-start;
    justify-content: center;
    grid-gap: 5vw;
    scroll-behavior: smooth;
    @extend %scroll-smooth-iphone;

    @include device(phone-land) {
        --padding-middle: 0;
    }

    @include device(phone) {
        grid-gap: 10vw;
    }

    .scrollTo {
        @extend %scroll-smooth-iphone;
    }
}
