.navigation {
    --svg_size: 3.5rem;
    grid-area: nav;
    @extend %nav-sidebar-shared;

    @extend %d--flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    @extend %txt-center;
    padding: 4rem 0.5rem;

    svg {
        overflow: visible;
        @extend %cursor;
        fill: hsl(var(--clr_white));
        stroke: hsl(var(--clr_white));
        height: var(--svg_size);
        width: auto;

        // outline: 1px solid orangered;
    }

    &__links {
        font-size: 4rem;
        flex: 2;
        @extend %d--grid;
        place-content: center;
        grid-gap: 7vh;
    }

    &__link {
        @extend %d--grid;
        place-items: center;
        @extend %pos-rel;

        svg {
            stroke-width: 1.4px;
            transition: 0.3s transform $outBack;
        }

        &:nth-of-type(2) {
            svg {
                stroke: none;
            }
        }

        &::before {
            --translate-x: -50%;
            --translate-y: 1.3rem;
            --translate: translate(var(--translate-x), var(--translate-y));
            --circle-size: 0.6rem;
            content: '';
            @extend %pos-abs;
            bottom: 0;
            left: 50%;
            display: inline-block;
            width: var(--circle-size);
            height: var(--circle-size);
            background-color: hsl(var(--clr_white));
            border-radius: var(--radius-circle);
            transform: var(--translate) scale(0);
            transition: transform 0.5s $outSmooth;
            z-index: var(--z-nav-tooltip);
        }

        &::after {
            @extend %pos-abs;
            content: attr(data-link-name);
            left: 140%;
            top: 50%;
            padding: 0.5rem 0.8rem;
            background-color: hsl(var(--clr_white));
            color: var(--clr_accent_to_dark);
            font-size: 1rem;
            @extend %fw-500;
            @extend %txt-uppercase;
            border-radius: var(--radius-default);
            box-shadow: 0px 3px 10px 0px hsl(var(--clr_accent) / 0.2);
            @extend %opacity-0;
            transform: translate3d(-15%, -50%, 0);
            pointer-events: none;
            transition: 0.4s transform $outBack, 0.4s opacity ease;
            z-index: var(--z-nav-tooltip);
        }

        &:hover,
        &:focus {
            &::after {
                transform: translate3d(0, -50%, 0);
                @extend %opacity-1;
            }

            svg {
                transform: scale(0.95);
            }
        }
    }

    &__logowrapper {
        .logo__svg {
            transition: transform 0.5s $outBack;
        }
        .logo__veganify {
            transition: transform 0.5s $outBack;
        }

        &:hover,
        &:focus {
            .logo__svg {
                transform: rotate(90deg);
            }
            .logo__veganify {
                transform: scale(0.95) translateY(0.5rem);
            }
        }
    }

    @include device(tab-landrot) {
        padding: 2.2rem 1rem;
        position: fixed;
        top: var(--padding-home);
        left: var(--padding-home);
        // position: -webkit-sticky;
        // position: sticky;

        &__link::before {
            --translate-y: 10px;
        }
        &__logowrapper .logo__veganify {
            display: none;
        }
    }

    @include device(tab-to-phoneland) {
        --nav-height: 11rem;
        position: fixed;
        left: 50%;
        // top: calc(100% - var(--nav-height));
        // top: calc(100vh - calc(2 * var(--nav-height)));
        top: unset;
        bottom: 2%;
        // transform: translate(-50%, -0%);
        transform: translate(-50%, 0%);
        height: var(--nav-height);
        width: calc(100% - 3 * var(--padding-home));
        padding: 0 5vw;
        flex-direction: row;
        justify-content: center;
        box-shadow: 0px 0px 20px 0px var(--clr_recipeitem_right_bg);
        z-index: var(--z-nav);

        &__links {
            grid-auto-flow: column;
            grid-gap: 10vw;
            flex: 1;
        }

        &__link {
            &::after {
                left: 50%;
                top: 100%;
                transform: translate3d(-50%, 0%, 0);
            }

            &:hover::after,
            &:focus::after {
                transform: translate3d(-50%, 50%, 0);
            }
        }

        &__logowrapper {
            display: flex;
            align-items: center;
            flex-direction: column;

            .logo__veganify {
                display: none;
            }

            &:hover,
            &:focus {
                .logo__veganify {
                    transform: none;
                }
            }
        }
    }

    @include device(phone) {
        --nav-height: 9.5rem;

        &__link::before {
            --translate-y: 10px;
        }
    }
    @include device(phone-to-ant) {
        &__link::before {
            --translate-y: 1rem;
        }
    }

    @include device(phone-ant) {
        --nav-height: 9rem;
        --svg_size: 3rem;

        .themetoggle {
            --svg_size: 3rem;
        }
    }
}

.navigation__link.nuxt-link-exact-active {
    &::before {
        transform: var(--translate) scale(1);
    }

    &:hover::before,
    &:focus::before {
        transform: var(--translate) scale(0);
    }

    // @include device(tab-to-phoneland) {
    //     opacity: 1;

    //     &::before {
    //         display: none;
    //     }

    //     &:hover::before,
    //     &:focus::before {
    //         transform: none;
    //     }
    // }
}
