.recipecards {
    @extend %txt-center;
    @extend %pos-rel;

    &__wrapper {
        @extend %d--flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5rem;
    }

    &__title {
        grid-column: 1/-1;
        @extend %fw-600;
        @extend %txt-uppercase;
        @extend %d--inline-block;
        margin-top: 1rem;
        letter-spacing: 1px;
        color: var(--clr_black_to_accent);
    }
}

.recipecard {
    --min-width-recipecard: 24.5rem;
    --max-width-recipecard: 27rem;

    will-change: transform, box-shadow;
    @extend %box-shadow;
    @extend %cursor;
    max-width: var(--max-width-recipecard);
    flex: 1 1 var(--min-width-recipecard);
    border-radius: var(--radius-recipecard);
    padding: 2.2vmin;
    margin: 2vw;
    background: var(--clr_white_to_grd);

    @extend %d--flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 5px -20px transparent;
    transform: translateY(0);
    transition: box-shadow 0.5s $inOutBack, transform 0.8s $outSmooth;

    @include device(phone-land) {
        --min-width-recipecard: 22rem;
    }
    @include device(phone) {
        padding: 3vmin;
    }

    &:hover,
    &:focus {
        box-shadow: 0 20px 0px -14px hsl(var(--clr_accent) / 0.1); //TODO mozda staviti u vars jer za dark nam ne treba ovakva shadows
        transform: translateY(-2%);

        .recipecard__img {
            transform: scale(1.2);
        }
        .recipecard__category {
            transform: translate(15%, 15%);
            &::after {
                transform: scaleX(1);
            }
        }
        .recipecard__title {
            transform: translateY(30%);
        }
        .recipecard__min {
            svg,
            p {
                transform: translateX(1rem);
                @extend %opacity-1;
                span {
                    opacity: 0.5;
                }
            }
            svg {
                opacity: 0.8;
                stroke: hsl(var(--clr_accent));
            }
        }

        .recipecard__footer {
            transform: translateY(20%);
        }
    }

    &__figure {
        @extend %overflow-hidden;
        @extend %pos-rel;
        width: 100%;
        max-height: 64%;
        border-radius: calc(var(--radius-recipecard) - 0.8rem);
        margin-bottom: 1rem;

        &::after {
            // TODO za dark mode potamniti slike
            @extend %after;
            z-index: 10;
            top: 0;
            left: 0;
            mix-blend-mode: luminosity;
        }
    }

    &__img {
        will-change: transform;
        @extend %img-basic;
        transition: transform 1s $outSmooth;
    }

    &__body {
        padding: 0 1.4rem;
        flex: 1 1;
    }

    &__category {
        @extend %pos-rel;
        @extend %d--flex;

        color: hsl(var(--clr_accent));
        @extend %txt-uppercase;
        font-size: 1.2rem;
        @extend %fw-700;
        letter-spacing: 0.5px;
        padding: 0.6rem 0rem;
        width: fit-content;
        margin-bottom: 0.2rem;
        transition: transform 0.5s $outSmooth;

        &::after {
            @extend %after;
            width: 130%;
            background: hsl(var(--clr_accent_light));
            top: 0;
            left: -15%;
            border-radius: var(--radius-default);
            transform-origin: 0 50%;
            transform: scaleX(0);
            transition: transform 0.4s $outSmooth;
            z-index: -1;
        }
    }
    &__title {
        @extend %fw-600;
        text-align: left;
        margin-bottom: 1rem;
        text-transform: capitalize;
        word-wrap: break-word;
        transition: transform 0.5s $outSmooth;
    }

    &__footer {
        @extend %flex-jsa;
        transform: translateY(12%);
        transition: transform 0.5s $outSmooth;
    }

    &__min {
        @extend %flex-center;

        p,
        svg {
            @extend %will-change;
            opacity: 0.5;
            transition: transform 0.6s $outSmooth, opacity 0.4s $outSmooth;
        }

        svg {
            align-self: flex-start;
            width: 1.5rem;
            margin-right: 1rem;
            stroke: currentColor;
            transition-delay: 0.15s;
        }

        p {
            line-height: 1;
            @extend %fw-600;

            span {
                font-weight: normal;
                font-size: 1.4rem;
                transition: opacity 0.4s $outSmooth;
            }
        }
    }
}
