.bookmarks {
    @extend .home;
}

.nobookmarks {
    grid-area: mid;
    align-content: center;
    place-items: center;
    grid-gap: 5vh;
    font-size: 4rem;
    @extend %txt-center;

    &__svgwrapper {
        --size: 13rem;
        width: var(--size);
        height: var(--size);
        border-radius: var(--radius-category);
        @extend %d--grid;
        place-items: center;
        background: hsl(var(--clr_accent_light));
        box-shadow: var(--box_shadow_accent);
    }

    svg {
        width: calc(var(--size) / 2);
        height: auto;
        fill: hsl(var(--clr_accent));
    }

    &__title {
        @extend %txt-uppercase;
        font-size: inherit;
        @extend %fw-400;
        margin-bottom: 2rem;
    }
    &__subtitle {
        font-size: inherit;
        @extend %fw-500;
    }
    &__title,
    &__subtitle {
        color: hsl(var(--clr_accent));
    }
}
