.bookmarks {
    @extend .home;

    @include device(tab-to-phoneland) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nobookmarks {
    grid-area: mid;
    align-content: center;
    place-items: center;
    grid-gap: 5vh;
    font-size: 2.5rem;
    @extend %txt-center;

    .icontainer--bggreen {
        --icontainer_size: 10rem;
        border-radius: var(--radius-search);
    }

    svg {
        width: calc(var(--icontainer_size) / 2);
    }

    &__title {
        @extend %txt-uppercase;
        font-size: inherit;
        @extend %fw-400;
        margin-bottom: 2rem;
    }
    &__subtitle {
        font-size: inherit;
        @extend %fw-500;
    }
    &__title,
    &__subtitle {
        color: hsl(var(--clr_accent));
    }
}
