.home {
    @extend %pos-rel;
    height: 100vh; //! mora da se odredi ova visina zbog nava i sidebara
    @extend %w-100;
    overflow-y: scroll;
    scroll-behavior: smooth;
    @extend %scroll-smooth-iphone;
    padding: var(--padding-home);
    @extend %d--grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-template-areas: 'nav mid side';
    grid-template-columns: minmax(0, max-content) minmax(0, 13fr) minmax(
            30rem,
            4fr
        );

    @include device(tab-land) {
        grid-template-areas: 'nav mid mid';
        padding-right: 0;
    }

    @include device(tab-to-phoneland) {
        display: block;
        padding-right: var(--padding-home);
        padding-bottom: 22vh;

        width: 100vw;
        overflow-x: hidden;
    }

    @include device(phone) {
        padding-bottom: 28vh;
    }
}
