.recipeitem {
    --gap-window: 3vw;
    --recipeitem-header-height: 12vmax;

    background: var(--clr_recipeitem_bg);
    width: 100vw;
    min-height: 100vh;

    &__header {
        --height-btns-tab-mid: 6.5rem;
        padding: var(--gap-window);
        height: var(--recipeitem-header-height);
        margin-bottom: 4rem;

        @include device(tab-land) {
            padding: 5vw var(--gap-window);
        }
        @include device(tab-mid) {
            --recipeitem-header-height: 40vmax;
            // padding: 0;
            margin-bottom: 0;
            position: relative;
            z-index: 1;
        }
        @include device(tab) {
            --recipeitem-header-height: 38vmax;
        }

        &-mobilefigure {
            display: none;

            @include device(tab-mid) {
                display: block;
                width: 100%;
                height: var(--recipeitem-header-height);
                position: absolute;
                inset: 0;
                z-index: 1;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    backdrop-filter: blur(2px);
                    box-shadow: var(--box_shadow_img);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center 40%;
                }
            }
        }

        &-top {
            @extend %d--flex;
            justify-content: space-between;
            align-items: center;
        }

        .btnback {
            background: var(--clr_white_to_grd);
            color: hsl(var(--clr_accent));
            border: 1px solid hsl(var(--clr_white) / 0.15);
            box-shadow: var(--box_shadow_accent);
            letter-spacing: 1px;
            transition: letter-spacing 0.3s $outSmooth;
            z-index: 2;

            .icontainer--bggreen {
                // --radius-icontainer: 1.2rem;
                transition: transform 0.5s $outBack;
                svg {
                    fill: var(--clr_accent_to_dark);
                }
            }

            &:hover,
            &:focus {
                letter-spacing: initial;
                .icontainer {
                    transform: translateX(-10%);
                }
            }

            @include device(tab-mid) {
                height: var(--height-btns-tab-mid);
                background: var(--clr_recipeitem_bg);
                color: hsl(var(--clr_white));

                .icontainer--bggreen {
                    background: hsl(var(--clr_white));
                }
            }
            @include device(phone) {
                padding: 0;

                span {
                    display: none;
                }
                .icontainer--bggreen {
                    height: var(--height-btns-tab-mid);
                    width: var(--height-btns-tab-mid);
                    background: none;
                    padding: 0;

                    svg {
                        --svg_size: 6rem;
                        fill: hsl(var(--clr_white));
                    }
                }
            }
        }
        .themetoggle {
            @include device(tab-mid) {
                height: var(--height-btns-tab-mid);
                width: var(--height-btns-tab-mid);
                background: var(--clr_recipeitem_bg);
                border-radius: var(--radius-icontainer);
                z-index: 2;

                &:hover,
                &:focus {
                    transform: none;
                    opacity: 0.9;
                }
            }
        }
    }

    &__main {
        @extend %w-100;
        @extend %h-100;
        padding: 12rem 6vw;
        background: var(--clr_recipeitem_main_bg);
        border-radius: var(--radius-recipeitem-main)
            var(--radius-recipeitem-main) 0 0;
        box-shadow: var(--box_shadow_accent);
        @extend %d--grid;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        grid-template-areas: 'l r' 'l r';
        justify-content: space-between;
        grid-gap: 20vw 8vw;

        @include device(tab-mid) {
            --radius-recipeitem-main: 16vw;
            justify-content: center;
            justify-items: center;
            grid-template-areas:
                'l'
                'r';
            grid-gap: 5vh;
            padding: 0;
            margin-top: calc(-1 * (var(--recipeitem-header-height) + 5vmax));
            background: var(--clr_recipeitem_bg);
            position: relative;
            z-index: 2;
        }
        @include device(phone-land) {
            padding: 0rem 3rem;
        }
        @include device(phone) {
            padding: 0;
        }
    }

    &__left {
        grid-area: l;
        align-self: flex-start;
        @extend %grid-center;
        grid-gap: 15rem;

        @include device(tab-mid) {
            padding: 12rem 6vw;
        }
        @include device(phone-land) {
            grid-gap: 12rem;
        }
    }
    &__left-tags {
        order: 1;
        @include device(phone) {
            order: 2;
        }
    }
    &__left-showcase {
        order: 3;
    }
    &__left-title {
        order: 2;
        font-size: 3rem;
        @extend %txt-center;
        @extend %txt-uppercase;
        @extend %fw-600;
        @extend %flex-center;
        @extend %pos-rel;
        color: var(--clr_black_to_accent);

        @include device(tab-mid) {
            width: 75%;
        }
        @include device(phone) {
            order: 1;
            width: 85%;
            text-transform: capitalize;
            margin-top: 4rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -6.5rem);
                height: 5px;
                width: 6rem;
                border-radius: 5px;
                background: hsl(var(--clr_black));
                opacity: 0.5;
            }
        }
    }

    &__right {
        grid-area: r;
        background: var(--clr_recipeitem_right_bg);
        border-radius: var(--radius-recipeitem-right);
        padding: 5vw 4vw;

        @include device(tab-land) {
            padding: 4vw;
        }
        @include device(tab-mid) {
            --radius-recipeitem-right: 14vw;
            padding: 10vw;
            width: 80%;
            border-radius: var(--radius-recipeitem-right)
                var(--radius-recipeitem-right) 0 0;
            background: var(--clr_recipeitem_right_mobile);
        }
        @include device(tab) {
            width: 90%;
            padding: 12vw 10vw;
        }
        @include device(phone-land) {
            --radius-recipeitem-right: 16vw;
            width: 100%;
        }
        @include device(phone) {
            --radius-recipeitem-right: 14vw;
        }
    }

    &__right-header {
        @extend %txt-center;
        @extend %d--flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
        background: var(--clr_recipeitem_right_bg);
        border-radius: var(--radius-recipeitem-breadcrumb);
        margin-bottom: 3.5vw;

        @include device(tab-mid) {
            margin-bottom: 6rem;
        }

        @include device(phone) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin: 2rem 0 7rem 0;
        }
    }

    &__right-breadcrumb {
        flex-grow: 1;
        @extend %pos-rel;
        @extend %cursor;
        padding: 1.3vw 1vw;
        @extend %fw-500;
        @extend %flex-center;
        @extend %txt-uppercase;
        color: hsl(var(--clr_white));
        border-radius: var(--radius-recipeitem-breadcrumb);
        transition: transform 0.4s $outBack, color 0.3s ease-in-out;
        z-index: 10 !important;

        @include device(tab-mid) {
            padding: 2.8rem 1rem;
            font-size: 1.8rem;
            letter-spacing: 1px;
        }
        @include device(phone-land) {
            padding: 2rem;
        }
        @include device(phone) {
            padding: 1.8rem;
        }

        &::after {
            @extend %after;
            top: 0;
            left: 0;
            z-index: -1;
            background: var(--clr_white_to_grd);
            border-radius: var(--radius-recipeitem-breadcrumb);
            @extend %opacity-0;
            transform: scaleX(0.2);
            transform-origin: right center;
            transition: transform 0.4s $outBack, opacity 0.4s $outBack,
                box-shadow 0.4s $outBack;
        }
        &:nth-of-type(2)::after {
            transform-origin: left center;
        }

        &:hover,
        &:focus {
            color: hsl(var(--clr_accent));

            &::after {
                box-shadow: var(--box_shadow_alpha);
                @extend %opacity-1;
                transform: scaleX(1);
            }
        }
    }

    &--active {
        @extend .recipeitem__right-breadcrumb, :hover;
    }
}

html[data-theme='dark'] {
    .recipeitem__title {
        color: hsl(var(--clr_accent));
    }
}
